.target/
.build/
.gradle/
out/
bin/
.idea/
*.iml
*.iws
.settings/
.project
.classpath
.factorypath
.vscode/
*.env
*.properties
*.jks
*.p12
*.log
crash.log
.data/
.db/
.DS_Store
Thumbs.db
/nbproject/private/
